.ipynb_checkpoints/Transfer_Learning-checkpoint.ipynb
.ipynb_checkpoints/Transfer_Learning_Solution-checkpoint.ipynb
flower_photos.tar.gz
flower_photos/daisy
flower_photos/dandelion
flower_photos/LICENSE.txt
flower_photos/roses
flower_photos/sunflowers
flower_photos/tulips
tensorflow_vgg/
